.poker-table-wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px; /* או כמה שאתה רוצה */
  height: 700px;
  margin: 0 auto;
  background-image: url("../assets/images/poker_table.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


.player-seat {
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 10px;
  min-width: 60px;
  text-align: center;
}
